<div class="container-fluid">
    <div class="row">
    	<div class="col-sm-12">
            <h1><b>All Categories</b></h1>
        </div>
    </div>

    <div class="row">
    	<div class="col-sm-12">
            <h4>We offer the widest range of sport categories in Milan, from Aerobics to Swimming. Let's have a look!</h4>
        </div>
    </div>

    <!-- Generate rows as screen size changes -->
    <div class="row" ng-repeat="row in rows">
    	<div class="col-xs-1"></div>
    	<div class="col-xs-5 col-sm-5 col-md-2 text-center allCategoriesBox" ng-repeat="category in categories(row)" style="background-image: url(img/course-category/{{category.Copertina}});">
            <h4 class="allCategoriesBoxTitle">{{category.Nome}}</h4>
            <div class="row" class="allCategoriesBoxContainer">
            	<div class="col-xs-12 col-sm-6">
            		<a class="btn btn-default btn-block btn-hiddenOverflow" ng-class="{'disabled' : !category.intro}" href="courseCategory/{{category.ID}}" role="button">Details</a>
            	</div>
            	<div class="col-xs-12 col-sm-6">
            		<a class="btn btn-default btn-block btn-hiddenOverflow" ng-class="{'disabled' : !category.Slogan}" href="coursesByCategory/{{category.ID}}" role="button">Courses</a>
            	</div>
            </div>
        </div>
        <div class="col-xs-12 allCategoriesBoxLastPadding" ng-show="!$last"></div>
    </div>
</div>