<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1><b>All courses A-Z</b></h1>
        </div>
    </div>
    <div class="rectangleCourses">
        <div class="introText">
            Big Gym offers several classes, ranging in variety from Yoga, Pilates and Tai Chi to Spinning, Dance For Kids and Swimming. </br>All classes are led by some of Milan's top professionals and certified personal trainers.
        </div>
        <div class="row">

            <!-- Courses shown in three columns on medium and large screens, each initial has its own div with the related group of courses inside -->
            <div class="visible-md visible-lg">
                <div class="col-md-4 col-lg-4" id="colMD0">
                    <div class="sameLetterDiv" ng-repeat="initial in initials.slice(0, oneThirdInitials)">
                        <div class="letter">
                            <u>{{initial}}</u>
                        </div>
                        <div class="azCourse" ng-repeat="course in coursesArrays[$index]">
                            <a href="course/{{course.ID}}" ng-class="{'not-active' : course.AddressedTo === null}" ng-bind-html="course.Label"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4" id="colMD1">
                    <div class="sameLetterDiv" ng-repeat="initial in initials.slice(oneThirdInitials, twoThirdsInitials)">
                        <div class="letter">
                            <u>{{initial}}</u>
                        </div>
                        <div class="azCourse" ng-repeat="course in coursesArrays[$index+oneThirdInitials]">
                            <a href="course/{{course.ID}}" ng-class="{'not-active' : course.AddressedTo === null}" ng-bind-html="course.Label"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4" id="colMD2">
                    <div class="sameLetterDiv" ng-repeat="initial in initials.slice(twoThirdsInitials)">
                        <div class="letter">
                            <u>{{initial}}</u>
                        </div>
                        <div class="azCourse" ng-repeat="course in coursesArrays[$index+twoThirdsInitials]">
                            <a href="course/{{course.ID}}" ng-class="{'not-active' : course.AddressedTo === null}" ng-bind-html="course.Label"></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Courses shown in two columns on small screens, each initial has its own div with the related group of courses inside -->
            <div class="visible-sm">
                <div class="col-sm-6" id="colSM0">
                    <div class="sameLetterDiv" ng-repeat="initial in initials.slice(0, aHalfInitials)">
                        <div class="letter">
                            <u>{{initial}}</u>
                        </div>
                        <div class="azCourse" ng-repeat="course in coursesArrays[$index]">
                            <a href="course/{{course.ID}}" ng-class="{'not-active' : course.AddressedTo === null}" ng-bind-html="course.Label"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" id="colSM1">
                    <div class="sameLetterDiv" ng-repeat="initial in initials.slice(aHalfInitials)">
                        <div class="letter">
                            <u>{{initial}}</u>
                        </div>
                        <div class="azCourse" ng-repeat="course in coursesArrays[$index+aHalfInitials]">
                            <a href="course/{{course.ID}}" ng-class="{'not-active' : course.AddressedTo === null}" ng-bind-html="course.Label"></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Courses shown in one column on extra-small screens (mobile screens), by using a button for each initial and its related collapsed divs -->
            <div class="visible-xs">
                <div class="col-xs-offset-1 col-xs-10" id="colXS">
                    <div ng-repeat="initial in initials">
                        <button class="btn btn-primary letterButton" id="button{{$index}}" data-toggle="collapse" data-target="#collapse{{$index}}">
                            {{initial}}
                        </button>
                        <div class="collapse" id="collapse{{$index}}">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="course in coursesArrays[$index]">
                                    <a href="course/{{course.ID}}" ng-class="{'not-active' : course.AddressedTo === null}" ng-bind-html="course.Label"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-3">
                &#9733 = Beginner
            </div>
            <div class="col-sm-3">
                &#9733 &#9733 = Intermediate
            </div>
            <div class="col-sm-3">
                &#9733 &#9733 &#9733 = Advanced
            </div>
        </div>
    </div>
</div>
