<div class="container-fluid">
    <div ng-show="category === undefined && error === undefined">
        <h1>Loading...</h1>
    </div>

    <!-- Course category doesn't exist -->
    <div ng-show="error">
        <h1 class="text-danger">Error! Category not found!</h1>
    </div>

    <!-- Course category exists but we have no data to display -->
    <div ng-show="category && !category.intro">
        <h1 class="text-danger">Sorry, no data to display for {{ category.Nome }} category :(</h1>
    </div>

    <!-- Main content div -->
    <div ng-show="category && category.intro">
        <div class="row">
            <div class="col-xs-12">
                <h1><b>{{ category.Nome }}</b></h1>
            </div>
        </div>

        <!-- Course category data container -->
        <div class="row categoryBox">
            <div class="col-xs-12 col-sm-12 col-md-8 categoryBoxLeftCol">
                <p id="categoryIntro">
                    {{ category.intro }}
                </p>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 visible-xs visible-sm">
                        <img src="img/course-category/{{category.Copertina}}" class="img-responsive categoryCover" />
                    </div>
                </div>
                <p>
                    <h3 ng-show="category.origins">Origins</h3>
                    {{ category.origins }}
                </p>
                <p>
                    <h3 ng-show="category.goodfor">What is good for</h3>
                    {{ category.goodfor }}
                </p>
                <p>
                    <h3 ng-show="category.forwho">Who should practise it</h3>
                    {{ category.forwho }}
                </p>
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-4 categoryCoursesBox">
                        <h3>{{ category.Nome }} courses</h3>
                        <p ng-repeat="course in courses">
                            <a href="course/{{course.ID}}" ng-class="{'not-active' : course.AddressedTo === null}">
                                {{ course.Nome }} &minus; {{ course.Livello }}
                            </a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-offset-1 col-sm-5">
                        <h3>Our instructors</h3>
                        <div class="row">
                            <div class="col-xs-{{istNumCols}}" ng-repeat="instructor in category.instructors">
                                <a href="instructor/{{instructor.ID}}" class="instructorSticker" ng-class="{'not-active' : instructor.Bio === null}">
                                    <img class="img-responsive" src="img/instructors/{{instructor.Foto}}" ng-show="instructor.Foto !== null" />
                                    <span class="text-danger" ng-show="instructor.Foto === null">Foto non presente</span>
                                    <h6>{{instructor.Nome}} {{instructor.Cognome}}</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Image and videos column -->
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="row visible-md visible-lg categoryBoxRightColElem">
                    <div class="col-xs-12">
                        <img src="img/course-category/{{category.Copertina}}" class="img-responsive" />
                    </div>
                </div>
                <div class="row categoryBoxRightColElem">
                    <div class="col-xs-12">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" controls ng-src="{{category.videos[0]}}"></iframe>
                        </div>
                    </div>
                </div>
                <div class="row categoryBoxRightColElem">
                    <div class="col-xs-12">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" controls ng-src="{{category.videos[1]}}"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>