<div class="container-fluid">
    <div ng-show="course === undefined && error === undefined">
            <h1>Loading...</h1>
        </div>
    <div ng-show="error">
        <h1 class="text-danger">Error! Course not found!</h1>
    </div>
    <div ng-show="!course.AddressedTo && !(course === undefined)">
        <h1 class="text-danger">Sorry, no data to display for {{ course.Nome }} course :(</h1>
    </div>

    <div ng-show="course.AddressedTo  && !(course === undefined)">
        <div class="row">

            <!-- First column for screens larger than "extra-small". It contains the name, the level, the instructors and a brief piece of text that describes people to which the course is addressed -->
            <div class="col-sm-6 hidden-xs">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-11" id="title">
                        <h1><b>{{course.Nome}}</b></h1>
                        <h3><b>{{course.Livello}}</b></h3>
                    </div>
                </div>
                <div class="row" id="courseButtons">
                    <div class="col-sm-offset-1 col-sm-4">
                        <button type="button" class="btn btn-default btn-block courseButton">Enroll</button>
                    </div>
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="button" class="btn btn-default btn-block courseButton">Schedule</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10 courseText" id="addressedTo">{{course.AddressedTo}}
                    </div>
                </div>

                <!-- If the course has more than one instructor, the title of this part becomes "Instructors", with the ending 's' -->
                <div class="row" id="instructorsTitle">
                    <h4><i><b>{{instructorsTitle}}</b></i></h4>
                </div>

                <!-- Instructors shown inside a sort of sticker, composed by a photo, the name and the surname -->
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="row">
                            <div class="{{imgClassSM}}col-sm-6" ng-repeat="instructor in course.instructors">
                                <a class="instructorSticker" href="instructor/{{instructor.ID}}" ng-class="{'not-active' : instructor.Bio === null}">
                                    <img class="instructorImg" src="img/instructors/{{instructor.Foto}}" ng-show="instructor.Foto !== null" />
                                    <p class="text-danger" ng-show="instructor.Foto === null">Foto non presente</p>
                                    <h6>{{instructor.Nome}} {{instructor.Cognome}}</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second column for screens larger than "extra-small". It contains the photo and the description of the course -->
            <div class="col-sm-5 hidden-xs">
                <div class="row">
                    <img class="img-rounded courseImage" src="img/course/{{course.Foto}}" ng-show="course.Foto !== null" />
                    <p class="text-danger" ng-show="course.Foto === null">Foto non presente</p>
                </div>
                <div class="row courseText" id="description">
                    {{course.Description}}
                </div>
            </div>

            <!-- Elements to be displayed on "extra-small" screens. -->
            <div class="col-xs-12 visible-xs">
                <div id="title">
                    <h1><b>{{course.Nome}}</b></h1>
                    <h3><b>{{course.Livello}}</b></h3>
                </div>

                <div class="row" id="courseButtons">
                    <div class="col-xs-5">
                        <button type="button" class="btn btn-default btn-block courseButton">Enroll</button>
                    </div>
                    <div class="col-xs-offset-2 col-xs-5">
                        <button type="button" class="btn btn-default btn-block courseButton">Schedule</button>
                    </div>
                </div>

                <div class="courseText" id="addressedTo">
                    {{course.AddressedTo}}
                </div>

                <img class="img-rounded courseImage" src="img/course/{{course.Foto}}" ng-show="course.Foto !== null" />
                <p class="text-danger" ng-show="course.Foto === null">Foto non presente</p>

                <div class="row" id="instructorsTitle">
                    <h4><i><b>{{instructorsTitle}}</b></i></h4>
                </div>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8">
                        <div class="row">
                            <div class="{{imgClassXS}}col-xs-6" ng-repeat="instructor in course.instructors">
                                <a class="instructorSticker" href="instructor/{{instructor.ID}}" ng-class="{'not-active' : instructor.Bio === null}">
                                    <img class="instructorImg" src="img/instructors/{{instructor.Foto}}" ng-show="instructor.Foto !== null" />
                                    <p class="text-danger" ng-show="instructor.Foto === null">Foto non presente</p>
                                    <h6><u>{{instructor.Nome}} {{instructor.Cognome}}</u></h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courseText" id="description">
                    {{course.Description}}
                </div>
            </div>
        </div>
    </div>
</div>
