<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1><b>All courses by level</b></h1>
        </div>
    </div>
    <div class="rectangleCourses">
        <div class="introText">
            Big Gym offers several classes, ranging in variety from Yoga, Pilates and Tai Chi to Spinning, Dance For Kids and Swimming. </br>All classes are led by some of Milan's top professionals and certified personal trainers.
        </div>
        <div class="row">

            <!-- Courses shown in a table divided by level and category on screens with dimensions greater than "extra-small" -->
            <div class="hidden-xs">
                <div class="row" id="levelNames">
                    <div class="col-sm-offset-3 col-sm-3" id="beginnerTitle"><i>BEGINNER</i>
                    </div>
                    <div class="col-sm-3" id="intermediateTitle"><i>INTERMEDIATE</i>
                    </div>
                    <div class="col-sm-3" id="advancedTitle"><i>ADVANCED</i>
                    </div>
                </div>
                <div class="row catRow" id="catRow{{$index}}" ng-repeat="category in allCategories">
                    <div class="col-sm-3 catNameLarge" id="catNameLarge{{$index}}">
                        <i>{{category.Nome}}</i>
                    </div>
                    <div class="col-sm-9 catContainer">
                        <div class="col-sm-4">
                            <div class="rectangleBeginner" ng-show="category.corsiBeginner.length > 0" ng-repeat="begCourse in category.corsiBeginner">
                                <a href="course/{{begCourse.ID}}" ng-class="{'not-active' : begCourse.AddressedTo === null}">{{begCourse.Nome}}</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="rectangleIntermediate" ng-show="category.corsiIntermediate.length > 0" ng-repeat="intCourse in category.corsiIntermediate">
                                <a href="course/{{intCourse.ID}}" ng-class="{'not-active' : intCourse.AddressedTo === null}">{{intCourse.Nome}}</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="rectangleAdvanced" ng-show="category.corsiAdvanced.length > 0" ng-repeat="advCourse in category.corsiAdvanced">
                                <a href="course/{{advCourse.ID}}" ng-class="{'not-active' : advCourse.AddressedTo === null}">{{advCourse.Nome}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Courses shown inside three collapsible tables, one for each level (beginner, intermediate and advanced) -->
            <div class="visible-xs">
                <div class="col-xs-offset-1 col-xs-10 byLvlBlock" id="xsBegBlock">
                    <button class="btn beginnerTitleXS" id="beginnerButton" data-toggle="collapse" data-target="#collapseBeg"><i>BEGINNER</i>
                    </button>
                    <div class="collapse" id="collapseBeg">
                        <div class="col-xs-offset-1 col-xs-10 xsCatBlock" ng-repeat="begCategory in begCategories">
                            <div class="catNameSmall">
                                <i>{{begCategory.Nome}}</i>
                            </div>
                            <div class="rectangleBeginner" ng-repeat="begCourse in begCategory.corsiBeginner">
                                <a href="course/{{begCourse.ID}}" ng-class="{'not-active' : begCourse.AddressedTo === null}">{{begCourse.Nome}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-offset-1 col-xs-10 byLvlBlock" id="xsIntBlock">
                    <button class="btn intermediateTitleXS" id="intermediateButton" data-toggle="collapse" data-target="#collapseInt"><i>INTERMEDIATE</i>
                    </button>
                    <div class="collapse" id="collapseInt">
                        <div class="col-xs-offset-1 col-xs-10 xsCatBlock" ng-repeat="intCategory in intCategories">
                            <div class="catNameSmall">
                                <i>{{intCategory.Nome}}</i>
                            </div>
                            <div class="rectangleIntermediate" ng-repeat="intCourse in intCategory.corsiIntermediate">
                                <a href="course/{{intCourse.ID}}" ng-class="{'not-active' : intCourse.AddressedTo === null}">{{intCourse.Nome}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-offset-1 col-xs-10 byLvlBlock" id="xsAdvBlock">
                    <button class="btn advancedTitleXS" id="advancedButton" data-toggle="collapse" data-target="#collapseAdv"><i>ADVANCED</i>
                    </button>
                    <div class="collapse" id="collapseAdv">
                        <div class="col-xs-offset-1 col-xs-10 xsCatBlock" ng-repeat="advCategory in advCategories">
                            <div class="catNameSmall">
                                <i>{{advCategory.Nome}}</i>
                            </div>
                            <div class="rectangleAdvanced" ng-repeat="advCourse in advCategory.corsiAdvanced">
                                <a href="course/{{advCourse.ID}}" ng-class="{'not-active' : advCourse.AddressedTo === null}">{{advCourse.Nome}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
