<div class="container-fluid">
    <div class="row" ng-show="category === undefined && !error">
        <div class="col-sm-5 col-sm-offset-1 col-xs-12">
            <h1>Loading...</h1>
        </div>
    </div>
    <div ng-hide="error || category === undefined">
        <div class="row">
            <div class="col-sm-offset-1 col-xs-12 col-sm-5">
                <h1>{{ category.Nome }} courses</h1>
            </div>
            <div class="col-xs-12 col-sm-5">
                <h2 class="text-right"><em>{{ category.Slogan || 'No Slogan yet'}}</em></h2>
            </div>
        </div>
        <div class="row" ng-show="category.Slogan == null">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                <h1>No course available for category {{ category.Nome }}</h1>
            </div>
        </div>
        <div class="row" ng-hide="category.Slogan == null">
            <div class="col-sm-offset-1 col-xs-12 col-sm-10">
                <table class="table table-hover table-responsive">
                    <tbody>
                        <!-- Handle click via jQuery -->
                        <tr class="with-border" ng-class="{'clickable-row' : course.AddressedTo !== null}" data-href="course/{{ course.ID }}" ng-repeat="course in courses" watch-end style="padding: 0; margin: 0;">
                            <td style="padding: 0px; margin: 0px; position: relative;">
                                <img style="position: relative; z-index: 0; height: 100%; width: 100%; opacity: .5;" ng-src="img/course/{{course.Copertina}}" />
                                <strong style="z-index:1; position: absolute; bottom: 0px; left: 0px;" ng-style="getTextColor(course.Livello)">
                                <h1>{{ course.Nome }}</h1>
                                </strong>
                                <h3 class="vertical-text" ng-style="getBackgroundColor(course.Livello)">{{ course.NomeLivello }}</h3>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ng-show="error">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            <h1 class="text-danger">Error: {{ error.data.errorMsg }}</h1>
        </div>
    </div>
</div>