<h1>Whooops <small class="text-danger">Page not found</small></h1>
<h2>You will be redirected to homepage in <code>{{ counter }}</code> seconds</h2>
<small>Otherwise click <a href="." id="redirect">here</a> to be redirected immediately</small>