<!-- Main container, for background image -->
<div class="with-background">
    <script>
        function calcHeight() {
            var height = $(window).height() - $('nav').height();
            $('.with-background').height(height);
        }
        
        $(window).on('resize', function () {
            calcHeight();
        });
        calcHeight();
    </script>

    <div class="side-menu hidden-xs" id="stripe1" style="top: 38%;">A different place</div>
    <div class="side-menu hidden-xs" id="stripe2" style="top: 46%;">Schedule</div>
    <div class="side-menu hidden-xs" id="stripe3" style="top: 54%;">Best equipment</div>
    <div class="side-menu hidden-xs" id="stripe4" style="top: 62%;">Best instructors</div>

    <div class="container-fluid" style="height:100%;">
        <div class="row visible-xs" style="margin-top: 5%;">
            <img class="col-xs-offset-4 col-xs-4" src="img/logo.png" />
        </div>
        <!-- /.row -->

        <div class="row visible-xs" style="margin-top: 5%;">
            <button type="button" class="btn btn-success col-xs-4 col-xs-offset-1" style="white-space: normal;">A different place</button>
            <button type="button" class="btn btn-success col-xs-4 col-xs-offset-2" style="white-space: normal;">Schedule</button>
        </div>
        <!-- /.row -->

        <div class="row visible-xs" style="margin-top: 5%;">
            <button type="button" class="btn btn-success col-xs-4 col-xs-offset-1" style="white-space: normal;">Best equipment</button>
            <button type="button" class="btn btn-success col-xs-4 col-xs-offset-2" style="white-space: normal;">Best instructors</button>
        </div>
        <!-- /.row -->
    </div>
</div>