<div class="container-fluid">
    <div class="row">
        <!-- main row -->
        <div ng-show="instructor === undefined && instructorError === undefined">
            <h1>Loading...</h1>
        </div>
        <div ng-show="instructorError !== undefined">
            <h1 class="text-danger">Error! Instructor not found!</h1>
            <h2 class="text-danger">Error {{ instructorError.statusCode }}: {{ instructorError.errorMsg }}</h2>
        </div>

        <!-- Instructor exists but we have no data to display -->
        <div ng-show="instructor && !instructor.Bio">
            <h1 class="text-danger">Sorry, no data to display for instructor {{ instructor.Nome }} {{ instructor.Cognome }}</h1>
        </div>

        <div ng-hide="instructor === undefined || !instructor.Bio">
            <div class="col-xs-12">
                <!-- Name and surname, width = all page -->
                <h1>{{ instructor.Nome }} {{ instructor.Cognome }}</h1>
            </div>

            <!-- left column -->
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-5">
                        <div>
                            <img id="instructor-image" src="img/instructors/{{instructor.Foto}}" style="max-width: 100%; max-height: 100%;" ng-show="instructor.Foto !== null" />
                            <p class="text-danger" ng-show="instructor.Foto === null">Foto non presente</p>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-2" id="courses-container">
                        <h2>My courses</h2>
                        <div style="border: solid 2px black; border-radius: 10px; padding: 0 15px; ">
                            <div ng-show="instructor.courses" ng-repeat="course in instructor.courses">
                                <div class="divider" ng-show="course.first && !$first" />
                                <h4 class="divider" ng-show="course.first">{{ course.NomeCategoria }}</h4>
                                <p><a href="course/{{course.ID}}" ng-class="{'not-active': course.AddressedTo === null}">{{ course.Nome }} &minus; {{ course.Livello }}</a>
                                </p>
                            </div>
                            <div ng-hide="instructor.courses">
                                <h4>No course yet</h4>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Bio & info-->
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Bio</h2>
                        <p ng-class="{'text-danger': !instructor.Bio}">{{ instructor.Bio || 'No bio yet' }}</p>
                        <h2>Qualifications</h2>
                        <p ng-class="{'text-danger': !instructor.Qualifications}">{{ instructor.Qualifications || 'No qualification yet' }}</p>
                        <!-- Awards (optionals) -->
                        <div ng-hide="instructor.awards === undefined">
                            <h2>Prizes &amp; Awards</h2>
                            <table class="table table-striped table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th>Year</th>
                                        <th>Award</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="award in instructor.awards">
                                        <td>{{ award.Anno }}</td>
                                        <td>{{ award.Descrizione }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end left column -->

            <!-- Right column -->
            <div class="col-sm-6 col-sm-offset-1" ng-show="instructor.FacebookID || instructor.Photogallery">

                <div id="photogallery-container" ng-style="{'margin-bottom': instructor.WidgetID ? '0px' : '10px'}">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3>Photogallery</h3>
                        </div>
                    </div>

                    <h4 ng-hide="imgArray || photosError !== undefined">Loading photos...</h4>
                    <h4 class="text-danger" ng-show="photosError !== undefined"> Error {{ photosError.statusCode }}: {{ photosError.errorMsg }}</h4>
                    <div class="row">
                        <div class="col-xs-3" ng-repeat="img in imgArray" ng-class="{'col-xs-offset-1' : !$first}">
                            <a data-lightbox="image" href="{{ instructor.Photogallery != undefined ? 'img/instructors/'+ img  : imgArrayOriginal[$index] }}">
                                <img ng-src="{{ instructor.Photogallery != undefined ? 'img/instructors/' : '' }}{{ img }}" data-lightbox="image{{$index}}" class="img-responsive img-rounded" />
                            </a>
                        </div>
                    </div>
                </div>

                <!-- tweets container -->
                <div ng-show="instructor.WidgetID">
                    <!-- Header -->
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>{{ instructor.Nome }}'s last tweet<small> (@{{ instructor.TwitterID }}{{ tweet.user.followers_count ? ' ,{0} followers'.format(tweet.user.followers_count) : ''}})</small></h3>
                        </div>
                    </div>
                    <div ng-show="tweet === undefined && tweetsError === undefined" class="row">
                        <h4 class="col-xs-12">Loading tweets...</h4>
                    </div>
                    <div ng-show="tweetsError !== undefined" class="row">
                        <h4 class="text-danger col-xs-12">Error {{ tweetsError.statusCode }}: {{ tweetsError.errorMsg }}</h4>
                    </div>
                    <div show="tweet">
                        <div class="row">
                            <div class="col-xs-12">
                                <blockquote>
                                    <p ng-bind-html="tweet.text"></p>
                                    <small>{{tweet.location ?  '{0}, '.format(tweet.location) : ''}}{{ tweet.created_at_millis | date: 'medium' }}</small>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end main row -->

</div>