<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 col-xs-12" id="left-col">
            <div class="row">
                <div class="col-xs-offset-1 col-xs-6 col-sm-6 col-sm-offset-0">
                    <h1><b>Where</b></h1>
                    <!-- White spaces (e.g. line breaks) are preserved thanks to .preserve-white-spaces class -->
                    <!-- Address is obtained through the controller -->
                    <div ng-show="!error && !address">
                        <p>Loading...</p>
                    </div>
                    <address class="preserve-white-spaces" ng-hide="error" ng-bind-html="address"></address>
                    <div ng-show="error" class="text-danger">
                        Error {{ error.statusCode }}: {{ error.errorMsg }}
                    </div>
                </div>
                <div id="loghi" class="hidden-xs col-xs-4 col-xs-offset-1">
                    <div class="row">
                        <a href="#"><img class="img-responsive" src="img/facebook-logo.png" />
                        </a>
                    </div>
                    <div class="row">
                        <a href="#"><img class="img-responsive" style="margin-top:20px;" src="img/googleplus-logo.png" />
                        </a>
                    </div>
                    <div class="row">
                        <a href="#"><img class="img-responsive" style="margin-top:20px;" src="img/twitter-logo.png" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="row visible-xs">
                <div class="col-xs-2 col-xs-offset-2">
                    <a href="#"><img class="img-responsive" src="img/facebook-logo.png" />
                    </a>
                </div>
                <div class="col-xs-2 col-xs-offset-1">
                    <a href="#"><img class="img-responsive" src="img/googleplus-logo.png" />
                    </a>
                </div>
                <div class="col-xs-2 col-xs-offset-1">
                    <a href="#"><img class="img-responsive" src="img/twitter-logo.png" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10 col-sm-12 col-sm-offset-0">
                    <h1><b>Questions? Contact us</b></h1>
                    <form class="with-border" name="userForm" onsubmit="alert('Form sent');">
                        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid }">
                            <input type="text" name="name" class="form-control" placeholder="Name" required ng-model="user.name" />
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid }">
                            <input type="email" class="form-control" name="email" placeholder="Email" required ng-model="user.email" />
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : userForm.question.$invalid }">
                            <textarea name="question" class="form-control vertical-resize" placeholder="Write here your question. Leave empty if you just want to subscribe to the newsletter" ng-model="user.question" />
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="newsletter" ng-model="user.checkbox" /> <strong>Subscribe to newsletter</strong>
                            </label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary form-control" ng-class=" { 'disabled' : userForm.$invalid || (!user.question && !user.checkbox) }">Send</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-6 col-xs-offset-1 col-xs-10 ">
            <h1 class="visible-xs">Map</h1>
            <div class="map-canvas"></div>
        </div>
    </div>
</div>