/* Overwrite bootstrap navbar */

html,
body {
    position: relative;
}

nav {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: #0fb742;
    border: 0px;
}

.navbar-brand > img {
    width: 30px;
    height: 30px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    line-height: 30px;
    font-weight: bold;
    padding-right: 19px;
    padding-left: 19px;
}

.navbar-default .navbar-toggle {
    background-color: white;
}
/* Overwrite bootstrap buttons */

.btn-success {
    background-color: #0fb742;
}

.btn-hiddenOverflow {
    padding: 6px 5px;
    overflow: hidden;
}
/* Home page partial */

.with-background {
    width: 100%;
    height: 100%;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-color: #8B97A5;
}

.side-menu {
    background-color: white;
    width: 150px;
    height: 50px;
    display: block;
    right: 0px;
    position: absolute;
    padding-left: 10px;
    font-size: 18px;
    line-height: 50px;
    border: solid 1px black;
    border-right: 0px;
    transition: width 1s;
}

.side-menu:hover {
    width: 300px;
    transition: width 1s;
}
/* Add some border */

.with-border {
    border-radius: 10px;
    border: 2px solid black;
    padding: 15px;
    /* Same as .form-group margin */
    
    padding-bottom: 0;
}
/* Add some border to the map too */

.map-canvas {
    border: 1px solid black;
}
/* Allow only vertical resize for textareas */

textarea.vertical-resize {
    resize: vertical;
}

div.divider {
    height: 1px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    display: block;
    overflow: hidden;
    background-color: black;
}
/* Make address tag preserve white spaces */

.preserve-white-spaces {
    /* multiple white spaces will collapse in only 1 space */
    
    white-space: pre-line;
}
/* Class for disable links to empty pages */

.not-active {
    pointer-events: none;
    cursor: default;
    color: gray;
    opacity: 0.5;
}

.clickable-row {
    cursor: pointer;
}

.vertical-text {
    position: absolute;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
/* Media queries for different resolutions */

@media (min-width: 768px) {
    /* Home page partial */
    
    .with-background {
        background-size: contain;
    }
}

@media (max-width: 767px) {
    /* Overwrite bootstrap navbar */
    
    .navbar-brand > img {
        margin-top: -5px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }
    /* Home page partial */
    
    .with-background {
        background-image: none;
    }
}
/* Course page style */

#title {
    padding-left: 0px;
    padding-right: 0px;
}

#courseButtons {
    width: auto;
    margin-top: 20px;
}

.courseButton {
    background: #dadadb;
    border-color: black;
}

.courseText {
    resize: none;
    margin-top: 20px;
    text-align: center;
}

#addressedTo {
    border-style: double;
    border-color: black;
}

.courseImage {
    max-height: 100%;
    width: 100%;
    margin-top: 20px;
}

#instructorsTitle {
    margin-top: 20px;
    text-align: center;
}

.instructorImg {
    max-height: 100%;
    width: 90%;
}

.instructorSticker {
    text-align: center;
    display: block;
}

#description {
    border-style: double;
    border-color: black;
    margin-bottom: 20px;
}
/* Courses by lvl page style */

.introText {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#levelNames {
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.rectangleCourses {
    border: 2px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #eaeaea;
}

.rectangleBeginner {
    text-align: center;
    color: blue;
    background: #ffff7c;
    font-size: 22px;
}

.rectangleIntermediate {
    text-align: center;
    color: blue;
    background: #ffb87c;
    font-size: 22px;
}

.rectangleAdvanced {
    text-align: center;
    color: blue;
    background: #ff7474;
    font-size: 22px;
}

#beginnerTitle {
    text-align: center;
    background: #dbc201;
    color: white;
    border: 2px solid;
    font-size: 22px;
    margin-bottom: 5px;
}

#intermediateTitle {
    text-align: center;
    background: #ea8700;
    color: white;
    border: 2px solid;
    font-size: 22px;
    margin-bottom: 5px;
}

#advancedTitle {
    text-align: center;
    background: #d60800;
    color: white;
    border: 2px solid;
    font-size: 22px;
    margin-bottom: 5px;
}

.catRow {
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

#beginnerButton {
    text-align: center;
    background: #dbc201;
    color: white;
    border: 2px solid;
    font-size: 24px;
    margin-bottom: 5px;
    width: 100%;
}

#intermediateButton {
    text-align: center;
    background: #ea8700;
    color: white;
    border: 2px solid;
    font-size: 24px;
    margin-bottom: 5px;
    width: 100%;
}

#advancedButton {
    background: #d60800;
    color: white;
    border: 2px solid;
    font-size: 24px;
    margin-bottom: 5px;
    width: 100%;
}

.byLvlBlock {
    margin-bottom: 10px;
}

.catNameLarge {
    text-align: center;
    font-size: 20px;
}

.catContainer {
    border-left: 1px solid;
    display: flex;
    align-items: center;
}

.catNameSmall {
    text-align: center;
    background-color: white;
}

.xsCatBlock {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* Courses A-Z page style */

.letter {
    border: 2px solid;
}

.sameLetterDiv {
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.azCourse {
    background-color: white;
}

#colXS {
    text-align: center;
}

.letterButton {
    margin-bottom: 5px;
    width: 40%;
}
/* All Categories page style */

.allCategoriesBox {
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px 15px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.allCategoriesBoxTitle {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.allCategoriesBoxContainer {
    padding-top: 20%;
}

.allCategoriesBoxLastPadding {
    padding-top: 5px;
}
/* Course Category page style */

.categoryBox {
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
}

.categoryBoxLeftCol {
    background: #eaeaea;
}

#categoryIntro {
    margin-top: 5px;
}

#categoryCover {
    margin-top: 5px;
}

.categoryCoursesBox {
    border: solid 2px black;
    border-radius: 10px;
    background: #ffffff;
}

.categoryBoxRightColElem {
    margin-top: 5px;
}
